<h4>投稿内容詳細画面</h4>
<p>
    こちらは投稿内容の詳細画面になります!
</p>
<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>説明</th>
    </tr>
    <tr>
        <td><%= @book.id %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
    </tr>
</table>
<div>
    <%= link_to '戻る', books_path %>
    <%= link_to '編集へ', edit_book_path(@book.id) %>
</div>